<!DOCTYPE html>
<html lang="ko" >
  <head>
    <title>인공지능 탈모 판별기</title>
    <meta charset="UTF-8" />
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
    </script>
     <script defer src="/src/drag_and_drop.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.3.1/dist/tf.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@teachablemachine/image@0.8/dist/teachablemachine-image.min.js"></script>
    <link rel="stylesheet" href="/css/default.css">
  </head>
  <header>
    <h2> 탈모 측정기 </h2>
</header>
  <body>
    <main>
      <script>
        localStorage.setItem('test','1');
      </script>
      <h2 style="text-align:center;">당신의 모발 상태를 알아보세요… 이미 늦었을지도?</h2>
      <!-- 파일 업로드 -->
      
      <div id="drop-area">
        <link href="/css/drop-area.css" rel="stylesheet"  type="text/css">
        <form class="my-drag-form">
          <input type="file" id="fileElem"  accept="image/*" 
          onchange="showButton(); handleFiles(this.files);">
          <label class="button" for="fileElem">이미지 업로드</label>
        </form> 
        <progress id="progress-bar" max=100 value=0></progress>
        <div id="gallery"></div>
      </div>
      <!-- 예측 시작 버튼 -->
      
    </main>
    <div class="btn-container">
    </div>
    <br><br><br>
  <div id="waiting-container"></div>
  <footer>
      <span class="footer-span">© Kyung Hee University 2022 Open Source Software Development</span><br>
      <span class="footer-span">Github: https://github.com/Teachable-Machine/OSS_Project</span>
</footer>
  </body>
  
</html>

<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.3.1/dist/tf.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@teachablemachine/image@0.8/dist/teachablemachine-image.min.js"></script>
<script type="text/javascript">
  async function init() {
    const URL = 'https://teachablemachine.withgoogle.com/models/f33RB5bma/';
     
    let model, labelContainer, maxPredictions;
    const modelURL = URL + 'model.json';
    const metadataURL = URL + 'metadata.json';
    let waiting_container=document.getElementById('waiting-container');
                    waiting_container.innerHTML='<h4> 탈모 정도를 측정중입니다... 잠시 기다려주세요</h4>';
    model = await tmImage.load(modelURL, metadataURL);
    maxPredictions = model.getTotalClasses();

    var image = document.getElementById('face');
    const prediction = await model.predict(image, false);
    waiting_container.innerHTML=''
    localStorage.setItem('maxvalue','-1') //%값 maxvalue -1로 초기화
    localStorage.setItem('maxKey','0') //단계값 maxKey 0로 초기화
    /*
    localStorage 특성상 key와 value에 string만 사용할 수 있음
    호출과 저장시 string->int, int->string 변환을 해주어야함
        *[ ] JSON.stringfy, JSON.parse 등 참고
    localStorage value 값 수정은 c++ set, map 마찬가지로 그냥 setItem 사용하면 자동 수정되는듯함
    */
    for (let i = 0; i < maxPredictions; i++) {
        const classPrediction =
            prediction[i].className + ': ' + prediction[i].probability.toFixed(2)*100 + "%";
            if(prediction[i].probability.toFixed(2)*100>JSON.parse(localStorage.getItem('maxvalue'))){ //저장되어있는 maxvalue값 초과시 maxvalue, maxkey 수정
                localStorage.setItem('maxvalue',JSON.stringify(prediction[i].probability.toFixed(2)*100)) //maxvalue 수정
                localStorage.setItem('maxKey',i+1) //maxKey 수정
            }
            localStorage.setItem(JSON.stringify(i+1),JSON.stringify(prediction[i].probability.toFixed(2)*100)) //이따 호출하기 편하게 i+1값으로 key값 설정해줌
    }
    location.href='/result'
}
</script>
<script type="module" src="/src/drag_and_drop.js?ver=2"></script>
<script type="module" src="/src/functions.js?ver=2"></script>
<script>
  
  function showButton() {
    $(".btn-container").append(`<div id="init_teachable_machine">
      <link href="/css/start_button.css" rel="stylesheet"  type="text/css">
      <label class="stbutton" onclick = "init()">예측 시작하기</label>
    </div>`);
  };
</script>