<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
        <script defer src="/src/result.js"></script>
      </head>

    <body>
        <h1 style="text-align:center;">SNS로 공유하기!</h1>
        <img id ="facebook" src ="/static/facebook.png" onclick="fn_sendFB('facebook')" height="75" width="75">
        <img id ="twitter" src ="/static/twitter.png" onclick="fn_sendFB('twitter')" height="75" width="75">
        <img id ="band" src ="/static/band.png" onclick="fn_sendFB('band')" height="75" width="75">
    </body>
<script>
    function fn_sendFB(sns) {
        var thisUrl = document.URL;
        var snsTitle = "당신의 모발은 "+localStorage.getItem('maxKey')+"단계입니다!";
        if( sns == 'facebook' ) {
            var url = "http://www.facebook.com/sharer/sharer.php?t=http://34.197.91.77:5001/";
            window.open(url, "", "width=486, height=286");
        }
        else if( sns == 'twitter' ) {
            var url = "http://twitter.com/share?url=http://34.197.91.77:5001/"+"&text="+encodeURIComponent(snsTitle);
            window.open(url, "tweetPop", "width=486, height=286,scrollbars=yes");
        }
        else if( sns == 'band' ) {
            var url = "http://www.band.us/plugin/share?body="+encodeURIComponent(snsTitle)+"&route=http://34.197.91.77:5001/";
            window.open(url, "shareBand", "width=400, height=500, resizable=yes");
        } 
    }
</script>
</html>
