@import url(//fonts.googleapis.com/earlyaccess/kopubbatang.css);
#drop-area {
  font-family: 'KoPub Batang', serif;
  border: 2px dashed #ccc;
  border-radius: 20px;
  height: 40%;
  width: 30vw;
  font-family: sans-serif;
  margin: 5vw auto 10vw auto;
  padding: auto;
}
#drop-area.highlight {
  border-color: purple;
}
#gallery {
  margin-top: 10px;
}
#gallery img {
  width: 20%;
  margin: auto;
  display: block; 
}
.button {
  text-align: center;
  display:block;
  width:10vw;
  margin:0 auto;
  margin-top:50px;
  margin-bottom:30px;
  padding: 10px;
  background: #ccc;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-family: 'KoPub Batang', serif;
}
progress {
  width: 30vw;
  height: 20px;
  display:block;
}
.button:hover {
  background: #ddd;
}
#fileElem {
  display: none;
}