
.sbutton {
  width:10vw;

  top: 40vw;
  right: 10vw;
  
  padding: 10px;
  background: #ccc;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ccc;
}
#sharing-sns.sdisable {
  pointer-events: none;
}

.sbutton:hover {
  background: #ddd;
}