
.rbutton {
  text-align: center;
  display:block;
  width:10vw;

  position: absolute;
  top: 40vw;
  left: 10vw;

  padding: 10px;
  background: #ccc;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.rbutton:hover {
  background: #ddd;
}
