.stbutton {
  text-align: center;
  display:block;
  width:10vw;

  position: absolute;
  top: 45vw;
  left: 43vw;

  padding: 10px;
  background: #ccc;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ccc;
}
#init_teachable_machine.disable {
  pointer-events: none;
}

.stbutton:hover {
  background: #ddd;
}
