
img {
  margin-left: auto;
  margin-right: auto;
  height: 60%;
  margin: 0px 39vw;
}


p {
  text-align: center;
  width: 30vw;
  margin: 2vw auto auto auto;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: 30%;
}